<footer>
  <div class="container-inner">
    <section>
      <h4>Here</h4>
      <ul class="plain-ul">
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/about">About ClimateLocal</a></li>
      </ul>

      <ul class="plain-ul">
        <li><a href="{{ site.url }}/areas">Areas</a></li>
        <li><a href="{{ site.url }}/opportunities">Opportunities</a></li>
        <li><a href="{{ site.url }}/groups">Groups</a></li>
        <li><a href="{{ site.url }}/people">People</a></li>
      </ul>
    </section>

    <section>
      <h4>There</h4>
      <ul class="plain-ul">
        <li><a href="mailto:hi@climatelocal.org?subject=I'd like to suggest an area for ClimateLocal">Suggest an
            area</a></li>
        <li><a href="mailto:hi@climatelocal.org?subject=I'd like to help out with ClimateLocal">Volunteer your
            skills</a></li>
      </ul>
    </section>

    <section>
      <h4>Elsewhere</h4>
      <ul class="plain-ul">
        <li><a href="https://github.com/dannyalright/climatelocal" target="_blank">ClimateLocal on GitHub →</a></li>
      </ul>
    </section>
  </div>
</footer>