:root {
  /* Sizing */
  --padding-item: 4em;
  --width-card: 40em;
  --colour-grey-light: #e5e5e5;
  --type-serif: Georgia, 'Times New Roman', Times, serif;
  --type-sans:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
  border: none;
  background-color: var(--colour-grey-light);
  height: 1px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--type-serif);
  font-weight: 900;
  letter-spacing: -0.03em;
}

main {
  margin: 1em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

header h1 {
  font-size: 1.15em;
  color: grey;
  font-weight: 800;
}

.logo a {
  text-decoration: none;
}

header ul {
  padding-left: 0;
  list-style-type: none;
}


main h1 {
  font-weight: 900;
  font-size: 4em;
  margin: 0; 
}




.center {
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: 2.25em;
  margin: 0;
}

h4 {
  font-size: 1.6em;
  font-weight: 800;
  margin: 0;
}

/* Used for state and country */
h5 {
  font-size: 1em;
  font-weight: 800;
  margin: 1em 0 2em;
}

.major-info p {
  font-size: 1.15em;
}

p.minor-info {
  color: grey;
  font-size: 0.75em;
}


img {
  max-width: 100%;
}

div.intro {
  margin-bottom: 3em;
}

.avatar {
  width: 2em;
  height: 2em;
  text-decoration: none;
}
  .avatar img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
  }

ul.events,
ul.local-opportunities,
ul.local-groups,
ul.individual-actions {
  padding-left: 0;
  list-style-type: none;
}
/* events */
  ul.events > li {
    display: flex;
  }
    ul.events > li > *:nth-child(1) {
      width: 20%;
    }
    ul.events > li > *:nth-child(2) {
      width: 40%;
    }
    ul.events > li > *:nth-child(3) {
      width: 30%;
    }
    ul.events > li > *:nth-child(4) {
      width: 10%;
      text-align: right;
    }
  
    /* local-opportunities */
    ul.local-opportunities > li {
      max-width: var(--width-card);
      margin-bottom: var(--padding-item);
    }

    /* individual-actions */
    ul.individual-actions > li {
      max-width: var(--width-card);
      margin-bottom: var(--padding-item);
    }

    /* local-groups */
    ul.local-groups {
      display: flex;
    }
      ul.local-groups > li {
        max-width: 10em;
        margin-right: var(--padding-item);
      }