---
layout: default
---

<div class="intro">
  <h1>{{ page.title }}</h1>
  <h5>{{ page.state }}, {{ page.country }}</h5>
  <div class="major-info">{{ content }}</div>

  <p class="minor-info">
    {% for i in page.contributers %}
    <a class="avatar" href="{{ site.data.contributers[i].link-url }}" target="_blank">
      <img src="{{ site.data.contributers[i].image-url }}"
        alt="Picture for {{ site.data.contributers[i].first-name }} {{ site.data.contributers[i].last-name }}"
        title="{{ site.data.contributers[i].first-name }} {{ site.data.contributers[i].last-name }}">
    </a>
    {% endfor %}

    Curated by
    {% for i in page.contributers %}
    {{ site.data.contributers[i].first-name }}
    {% endfor %}
  </p>
</div>


<!-- Get involved -->
<h2>Get involved</h2>
<p>Local training or volunteering opportunities.</p>
<ul class="local-opportunities">
  {% for opp in page.local-opportunities %}
  <li>
    <p><img src="{{ opp.image-url }}" alt="Image for {{ opp.name }}"></p>
    <h4>{{ opp.name }}</h4>
    <p><small>Drawdown solutions: {{ opp.category }}</small></p>
    <p>{{ opp.notes }}</p>
    <p>
      <a href="{{ opp.url }}" target="_blank">{{ opp.cta }}</a>
    </p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Individual action -->
<h2>Make locally relevant changes</h2>
<p>Take the first steps through individual action.</p>
<ul class="individual-actions">
  {% for action in page.individual-actions %}
  <li>
    <p class="minor-info">Requires about {{ action.investment }}</p>
    <h4>{{ action.name }}</h4>
    <p>{{ action.notes }}</p>
    <p>
      <a href="{{ action.url }}" target="_blank">{{ action.cta }}</a>
    </p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Events -->
<h2>Mobilise</h2>
<p>Upcoming marches, rallys, and other events.</p>
<ul class="events">
  {% for event in page.events %}
  <li>
    <p>{{ event.date | date_to_long_string: "ordinal" }}</p>
    <p><strong>{{ event.title }}</strong></p>
    <p>Organised by {{ event.organiser }}</a> </p>
    <p><a href="{{ event.url }}" target="_blank">View</a></p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Groups -->
<h2>Find your people</h2>
<p>Chapter and branch groups within this area.</p>
<ul class="local-groups">
  {% for group in page.local-groups %}
  <li>
    <p><img src="{{ group.image-url }}" alt="Avatar for {{ group.name }}"></p>
    <h4>{{ group.name }}</h4>
    <p>Part of {{ group.parent }}</p>
    <p><a href="{{ group.url }}" target="_blank">View</a></p>
  </li>
  {% endfor %}
</ul>