---
layout: default
---
<div class="intro">
  <h1>{{ page.title }}</h1>
  <h5>{{ page.state }}, {{ page.country }}</h5>
  <div class="major-info">{{ content }}</div>

  <p class="minor-info">
    {% for contributer in page.contributers %}
    {% for person in site.people %}
    {% if contributer == person.slug %}

    {% include base.html %}
    <a class="avatar" href="{{ base }}/people/{{ contributer }}">
      <img src="{{ person.image-url }}" alt="Picture for {{ person.first-name }} {{ person.last-name }}"
        title="{{ person.first-name }} {{ person.last-name }}">
    </a>

    Curated by
    {{ person.first-name }}

    {% endif %}
    {% endfor %}
    {% endfor %}
  </p>
</div>


<!-- Get involved -->
<h2>Get involved</h2>
<p>Local training or volunteering opportunities.</p>
<ul class="local-opportunities card-container">
  {% for opp in site.opportunities %}
  {% for area in opp.associated-areas %}
  {% if area == page.slug %}
  <li>
    <p><img src="{{ opp.image-url }}" alt="Image for {{ opp.title }}"></p>
    <h4>{{ opp.title }}</h4>
    <p><small>{{ opp.category }}</small></p>
    <p>{{ opp.notes }}</p>
    <p>
      {% include base.html %}
      <a href="{{ base }}/opportunities/{{ opp.slug }}">Read more</a>
      <a href="{{ opp.link-url }}" target="_blank">Website →</a>
    </p>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

<hr>

<!-- Individual action -->
<h2>Make locally relevant changes</h2>
<p>Take the first steps through individual action.</p>
<ul class="individual-actions card-container">
  {% for action in page.individual-actions %}
  <li>
    <p class="minor-info">Requires about {{ action.investment }}</p>
    <h4>{{ action.name }}</h4>
    <p>{{ action.notes }}</p>
    <p>
      <a href="{{ action.url }}" target="_blank">{{ action.cta }}</a>
    </p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Events -->
<h2>Mobilise</h2>
<p>Upcoming marches, rallys, and other events.</p>
<ul class="events card-container">
  {% for event in page.events %}
  <li>
    <p>{{ event.start-date | date_to_long_string: "ordinal" }}</p>
    <p><strong>{{ event.title }}</strong></p>
    <p>{{ event.type | capitalize }}, {{ event.host }}</a> </p>
    <p><a href="{{ event.url }}" target="_blank">View</a></p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Groups -->
<h2>Find your people</h2>
<p>Chapter and branch groups within this area.</p>
<ul class="local-groups card-container">
  {% for group in page.local-groups %}
  <li>
    <p><img src="{{ group.image-url }}" alt="Avatar for {{ group.name }}"></p>
    <h4>{{ group.name }}</h4>
    <p>Part of {{ group.parent }}</p>
    <p><a href="{{ group.url }}" target="_blank">View</a></p>
  </li>
  {% endfor %}
</ul>