---
layout: page
---

<h2>{{ page.name }}</h2>
<h4>{{ page.country }}</h4>
<h5>Chapter organiser: {{ page.organiser }}</h5>
<h5>Climate score: {{ page.climate-score }}</h5>
<p>{{ content }}</p>

<hr>

<!-- Get involved -->
<h2>Get involved</h2>
<p>Local training or volunteering opportunities.</p>
<ul>
  {% for opp in page.local-opportunities %}
  <li>
    <h4>{{ opp.name }}</h4>
    <p><small>{{ opp.category }}</small></p>
    <p><a href="{{ opp.website }}"><img src="{{ opp.image-url }}" alt="Image for {{ opp.name }}"></a></p>
    <p>{{ opp.notes }}</p>
    <p>
      <a href="{{ opp.url }}">{{ opp.cta }}</a>
    </p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Get involved -->
<h2>Make quick, locally relevant changes</h2>
<p></p>
<ul>
  {% for action in page.individual-actions %}
  <li>
    <h4>{{ action.name }}</h4>
    <p><small>Requires about {{ action.investment }}</small></p>
    <p>{{ action.notes }}</p>
    <p>
      <a href="{{ action.url }}">{{ action.cta }}</a>
    </p>
  </li>
  {% endfor %}
</ul>

<hr>

<!-- Get in the know -->
<h2>Mobilise</h2>
<p>Upcoming marches, rallys, and other events.</p>
<ul>
  {% for event in page.events %}
  <li>
    <strong>{{ event.title }}</strong>
    <p>{{ event.date | date_to_long_string: "ordinal" }}</p>
    <p>Organised by {{ event.organiser }}</a> </p>
    <p><a href="{{ event.website }}">{{ event.website }}</a></p>
    <img src="{{ event.image-url }}" alt="Image preview for {{ event.title }}">

  </li>
  {% endfor %}
</ul>

<a href="#">Show past events</a>

<hr>

<h2>Find your people</h2>
<p>Chapter and branch groups within this area.</p>
<ul>
  {% for group in page.local-groups %}
  <li>
    <img src="{{ group.image-url }}" alt="Avatar for {{ group.name }}">
    <h4>{{ group.name }}</h4>
    <p>Part of {{ group.parent }}</p>
    <p><a href="../groups/{{ group.website }}">Visit</a></p>
  </li>
  {% endfor %}
</ul>