---
layout: default
---
<h1 class="center">Let's mobilise.</h1>
<h3>USA</h3>
<ul>
  {% for area in site.areas %} {% if area.country == "USA" and area.type !=
  "sub" %}
  <li>
    <a href="../areas/{{ area.slug }}">{{ area.title }}</a>
  </li>
  {% endif %} {% endfor %}
</ul>

<h3>Australia</h3>
<ul>
  {% for area in site.areas %} {% if area.country == "Australia" and area.type
  != "sub" %}
  <li>
    <a href="../areas/{{ area.slug }}">{{ area.title }}</a>
  </li>
  {% endif %} {% endfor %}
</ul>