---
layout: default
---
{% include base.html %}
<div>
  <img src="{{ page.image-url }}" alt="Image for {{ page.title }}">
  <h1>{{ page.title }}</h1>
  <p><small>{{ page.category }}</small></p>
  <p>{{ page.notes }}</p>
  <a href="{{ page.link-url }}" target="_blank">Website →</a>

  <h5>Areas</h5>
  <ul>
    {% for associated-area in page.associated-areas %}
    {% for area in site.areas %}
    {% if associated-area == area.slug %}
    <li><a href="{{ base }}/areas/{{ area.slug }}">{{ area.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>

  {% if page.comments %}
  <h5>Comments</h5>
  <ul>
    {% for comment in page.comments %}
    {% for person in site.people %}
    {% if comment.author == person.slug %}
    <li>
      <p>{{ comment.content }}</p>
      <a class="avatar" href="{{ base }}/people/{{ person.slug }}">
        <img src="{{ person.image-url }}" alt="Picture for {{ person.first-name }} {{ person.last-name }}"
          title="{{ person.first-name }} {{ person.last-name }}">
      </a>
      <p><strong>{{ person.first-name }} {{ person.last-name }}</strong></p>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.visitors %}
  <h5>Who's going or been</h5>
  <ul>
    {% for visitor in page.visitors %}
    {% for person in site.people %}
    {% if visitor == person.slug %}
    <li>
      <a class="avatar" href="{{ base }}/people/{{ person.slug }}">
        <img src="{{ person.image-url }}" alt="Picture for {{ person.first-name }} {{ person.last-name }}"
          title="{{ person.first-name }} {{ person.last-name }}">
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}

</div>