---
layout: default
---
<!-- Top -->
<div class="photos container-outer">
  {% for photo in page.photos %}
  <img src="{{ photo }}" alt="An image of {{ page.title }}">
  {% endfor %}
</div>
<section class="grid-3-col container-inner">
  <!-- Left Rail -->
  <!-- Intro -->
  <div class="grid-3-col--item-1">
    <section>
      {% for associated-area in page.associated-areas %}
      {% for area in site.areas %}
      {% if associated-area == area.slug %}
      <p><a href="{{ site.url }}/areas/{{ area.slug }}">{{ area.title }}</a> <span>/</span> <a
          href="{{ site.url }}/areas/{{ area.slug }}#opportunities">Opportunities</a></p>
      {% endif %}
      {% endfor %}
      {% endfor %}
      <h1>{{ page.title }}</h1>

      <!-- Address -->
      {% if page.address-line-1 %}
      <p>{{ page.address-line-1 }}
        {% if page.address-line-2 %}
        <br>{{ page.address-line-2 }}
        {% endif %}
      </p>
      <p><a href="{{ page.address-url }}" target="_blank">View map →</a></p>
      {% endif %}
    </section>
  </div>

  <div class="grid-3-col--item-3">
    <!-- Info -->
    <section>
      <h2>What to know</h2>
      <div class="major-info">{{ content }}</div>
    </section>

    <!-- Tags -->
    <section>
      <h2>Impact areas</h2>
      <ul class="plain-ul tags">
        {% for associated-tag in page.associated-tags %}
        {% for tag in site.tags %}
        {% if associated-tag == tag.name %}
        <li>
          <div class="tag-inner">
            <p>{{ tag.icon }}</p>
            <p>{{ tag.name }}</p>
          </div>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </section>
  </div>
  <!-- End Left Rail -->

  <!-- Right Rail -->
  <!-- Outbound links -->
  <div class="grid-3-col--item-2">
    <section>
      <a class="circle-button" href="{{ page.link-url }}">Visit →</a>
    </section>
  </div>
  <div class="grid-3-col--item-4">
    <section>
      <h2>Contact</h2>
      <ul class="plain-ul social">
        <a href="mailto:{{ page.email }}">
          <li>
            <img src="https://ik.imagekit.io/dw/cl/mail.png" alt="Email {{ page.title }}">
          </li>
        </a>
        {% for item in page.social %}
        <a href="{{ item.url }}" target="_blank">
          <li>
            <img src="https://ik.imagekit.io/dw/cl/{{ item.type }}.png"
              alt="{{ page.title }} on {{ item.type | capitalize }}">
          </li>
        </a>
        {% endfor %}
      </ul>
    </section>

    <!-- Visitors -->
    {% if page.visitors %}
    <section>
      <h2>Who's been</h2>
      <ul class="plain-ul facepile">
        {% for visitor in page.visitors %}
        {% for person in site.people %}
        {% if visitor == person.slug %}
        <li>
          <a class="avatar" href="{{ site.url }}/people/{{ person.slug }}">
            <img src="{{ person.image-url }}" alt="Picture for {{ person.first-name }} {{ person.last-name }}"
              title="{{ person.first-name }} {{ person.last-name }}">
          </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </section>
    {% endif %}
  </div>
</section>
<!-- End Right Rail -->



<!-- Full Rail -->
<!-- Comments -->
<section class="container-inner">
  {% if page.comments %}
  <h2>What people say</h2>
  <ul class="plain-ul grid-3-col comments">
    {% for comment in page.comments %}
    {% for person in site.people %}
    {% if comment.author == person.slug %}
    <li>
      <a class="avatar" href="{{ site.url }}/people/{{ person.slug }}">
        <img src="{{ person.image-url }}" alt="Picture for {{ person.first-name }} {{ person.last-name }}"
          title="{{ person.first-name }} {{ person.last-name }}">
      </a>
      <span><strong>{{ person.first-name }} {{ person.last-name }}</strong> on
        {{ comment.date | date: "%d %B"  }}</span>
      <div class="arrow-up"></div>
      <p>{{ comment.content }}</p>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
</section>

<section class="container-inner">
  <h2 class="center">Ready to try {{ page.title }}?</h2>
  <div class="container-inner">
    <a class="filled-button primary" href="{{ page.link-url }}">Visit site →</a>
  </div>
</section>

<!-- Get involved -->
{% if page.associated-opps %}
<section class="container-inner">
  <h2 class="center">Looking for something similar?</h2>

  <ul class="local-opportunities plain-ul">
    {% for opp in site.opportunities %}
    {% for associated-opp in page.associated-opps %}
    {% if opp.slug == associated-opp %}
    <a href="{{ site.url }}/opportunities/{{ opp.slug }}">
      <li class="container-card"
        style="background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.5) ), url({{ opp.image-url }}) no-repeat center center">
        <div>
          <h4>
            {% if opp.cta %}
            {{ opp.cta }}
            {% else %}
            Help out at
            {% endif %}
          </h4>
          <h3>{{ opp.title }}</h3>
        </div>
        <div class="outline-button on-dark" href="{{ site.url }}/opportunities/{{ opp.slug }}">View</div>
      </li>
    </a>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</section>
{% endif %}