---
layout: default
---

<section class="container-inner">
  <img class="hero" src="{{ page.image-url }}" alt="{{ page.title }}" />
  <p><a href="{{ site.url }}/people">People</a> <span>/</span></p>
  <h1>{{ page.title }}</h1>
  {% if page.link-url %}
  <p>
    <a href="{{ page.link-url }}" target="_blank">Website →</a>
  </p>
  {% endif %}
</section>


{% if page.email %}
<section class="container-inner">
  <h2>Email</h2>
  <p>
    <a href="mailto:{{ page.email }}">{{ page.email }}</a>
  </p>
</section>
{% endif %}

{% if page.associated-orgs %}
<section class="container-inner">
  <h2>Orgs</h2>
  <ul>
    {% for org in page.orgs %}
    <li>
      <a href="../orgs/{{ org }}">{{ org }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if page.associated-areas %}
<section class="container-inner">
  <h2>Areas</h2>
  <ul>
    {% for associated-area in page.associated-areas %}
    {% for area in site.areas %}
    {% if associated-area == area.slug %}
    <li><a href="{{ site.url }}/areas/{{ area.slug }}">{{ area.title }}</a></li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if page.recommendations %}
<section class="container-inner">
  <h2>Recommendations</h2>
  <ul class="container-card recommendations plain-ul">
    {% for recommendation in page.recommendations %}
    <li>
      <img src="{{ recommendation.image-url}}" alt="{{ recommendation.title }}">
      <p><strong>{{ recommendation.title }}</strong></h2>
        <p>{{ recommendation.commentary }}</p>
        <a href="{{ recommendation.link-url}}" target="_blank">View {{ recommendation.type }} →</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}